# Visual Studio
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# ASP.NET
appsettings.Development.json
appsettings.*.Local.*

# SQLite DB
*.db

# NuGet packages
*.nupkg
**/packages/*

# Publish
publish/

# Logs
*.log

# 26/09: lixo que nao vai para o repositorio
*.db-wal
*.db-shm
.fuse_hidden*
Claude outputs/
